*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
/* Navbar */
.navbar-right{
    margin-left: 0px;
    margin-right: auto;
    float:right;
}
nav{
    z-index: 99;
    font-family: 'Antonio', sans-serif;
}
.mun-text{
    font-family: "Oregano", cursive;
}

/* Landing Div */
.text{
    width: 100%;
	height: 100vh;
	background:  url('https://images.pexels.com/photos/2885320/pexels-photo-2885320.jpeg?auto=compress&cs=tinysrgb&h=750&w') no-repeat center;

}
.text h1{
    position: absolute;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: 900;
    top: 30%;
    left: 30%;
    transform: translate(-30,-30);
}
.text q{
    position: absolute;
    color: #eee;
    top:62.5%;
    text-align: right;
    left: 52.5%;
}
/* Aim Section */

.aim-img-img{
    margin-right: auto;
    margin-left: auto;
    width:75%;
    height: auto;
}

.aim-img{
    display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.aim-text{
    height: 100vh;
    padding-top: 10em;
    margin-left: -4em;

}

.aim-head{
    font-family: "Antonio", sans-serif;
}

.aim-text p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    padding-right: 1em;
}
.members{
    width: 100%;
    background-color: #111;
}
.members h2{
    position: relative;
    left: 42.5%;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
}
.members hr{
    width: 35%;
    height: 1em;
    color: tomato;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#team .card {
    border: none;
    background: #000;
    color: #eee;
}
.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;    -webkit-box-shadow: 5px 7px 9px -4px rgb(17, 15, 15);
    -moz-box-shadow: 5px 7px 9px -4px rgb(15, 14, 14);
    box-shadow: 5px 7px 9px -4px rgb(0, 0, 0);
}


.frontside{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card {
    min-height: 312px;
}
.frontside .card .card-title {
    color: tomato !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.members h3{
    color: #eee;
    position: relative;
    left: 45%;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background: tomato;

}
footer  ul{
    padding-top: 1rem;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif;
}
.end{
    width: 100%;
    background: #000;
    padding: 5px;
}
.end h5{
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
}
footer ul li i:hover{
    color: white;
}
.form-div{
    height: 120vh;
    padding: 4em;
    width: 100%;
    background: #eee;
}
.form-div h1{
    font-family: 'Ubuntu', sans-serif;
}
q{
    font-family: 'Antonio', sans-serif;
}
h4 {
    font-family: 'Antonio', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: tomato;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}