*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
/* Navbar */
.navbar-right{
    margin-left: 0px;
    margin-right: auto;
    float:right;
}

.mun-text{
    font-family: "Oregano", cursive;
}

/* Aim Section */


.aim-img-img{
    margin-right: auto;
    margin-left: auto;
    width:75%;
    height: auto;
}

.aim-img{
    display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.aim-text{
    height: 100vh;
    padding-top: 10em;
    margin-left: -4em;

}

.aim-head{
    font-family: "Antonio", sans-serif;
}

.aim-text p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    padding-right: 1em;
}