*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
/* Navbar */
.navbar-right{
    margin-left: 0px;
    margin-right: auto;
    float:right;
}

.mun-text{
    font-family: "Oregano", cursive;
}

/* Aim Section */

